services:
  db:
    image: postgres
    container_name: stock_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: stock_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: